.widgets-container {
	display: flex;
	padding: 1rem;
	margin: 2rem;
	margin-bottom: 3rem;
	background-image: linear-gradient(to top left, #27354d, transparent);
	border-radius: 1rem;
	backdrop-filter: blur(20px);
	gap: 2rem;
	& > * {
		border-radius: 1rem;
		background-color: #27354d;
		flex: 1;
	}
}
