.track-info__img-container {
	max-width: 70%;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	.track-info__img {
		border-radius: 1rem;
		z-index: 1;
		max-width: 260px;
	}
	.track-info__shadow {
		width: 80%;
		position: absolute;
		left: 10%;
		bottom: -15px;
		z-index: -1;
		filter: blur(8px);
	}
}
